<div dir='rtl'><font face="B Mitra" size=6>
دریافت دادگان
</font></div>

<div dir='rtl'><font face="B Zar" size=4>

در ابتدا فایل های csv مربوط به دادگان این تمرین را آپلود میکنیم. برای تسهیل این روند این فایلهارا در dropbox آپلود کردیم و در ابتدای notebook آن ها را دانلود میکنیم.
</font></div>

In [ ]:
!wget -O train.csv https://www.dropbox.com/s/f4dzu371hgw1k9t/train.csv?dl=0

--2022-06-02 11:53:33--  https://www.dropbox.com/s/f4dzu371hgw1k9t/train.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/f4dzu371hgw1k9t/train.csv [following]
--2022-06-02 11:53:33--  https://www.dropbox.com/s/raw/f4dzu371hgw1k9t/train.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc43d1e9274dfcb18e4a87a8af7b.dl.dropboxusercontent.com/cd/0/inline/BmaWlGrzDwnlRgiGKaWar26Be4QfUe-fGK5Dez-g0sr48XqS7kQWFW4JjKXvYebzk278ojCqh5Li_yOx9p9erDux3ELDH0vcn5bQSZGggUsqk87xDO8rvPVA6j9ouWklXx4f0Bl0yYBbsCQfJc39vpTUr9htPNdtucGkUnFlsCNAIg/file# [following]
--2022-06-02 11:53:33--  https://uc43d1e9274dfcb18e4a87a8af7b.dl.dropboxusercontent.com/cd/0/inline/BmaWlGrzDwnlRgiGKaWar26Be4QfUe-fGK5Dez-g0sr48XqS7kQWFW4JjKXvYebzk278ojCqh5Li_yOx9p9erDux3ELDH0vcn5bQSZGggUsqk87xDO8rvPVA6j9ouWklXx4f0Bl0yYBbsCQfJc39vpTUr9htPNdtucGkUnFlsCNAIg/file
Resolving uc43d1e9274dfcb18e4a87a8af7b.dl.dropboxusercontent.com (uc43d1e9274dfcb18e4a87a8af7b.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601d:15::a27d:50f
Connecting to uc43d1e9274dfcb18e4a87a8af7b.dl.dropboxusercontent.com (uc43d1e9274dfcb18e4a87a8af7b.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12193089 (12M) [text/plain]
Saving to: ‘train.csv’

train.csv           100%[===================>]  11.63M  39.0MB/s    in 0.3s

2022-06-02 11:53:34 (39.0 MB/s) - ‘train.csv’ saved [12193089/12193089]

In [ ]:
!wget -O test.csv https://www.dropbox.com/s/p5hk56v493psyd5/test.csv?dl=0

--2022-06-02 11:53:34--  https://www.dropbox.com/s/p5hk56v493psyd5/test.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/p5hk56v493psyd5/test.csv [following]
--2022-06-02 11:53:34--  https://www.dropbox.com/s/raw/p5hk56v493psyd5/test.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucd469ed37a5be4f1811ff498f34.dl.dropboxusercontent.com/cd/0/inline/BmbLi8-u25xVlVFSxEqWFxxlrCiYTlL4utFY8plYuzeOc9uzS1AL8tbkfC56CaujwwbFixgd8gYpWFMvgl5mvsjEuiuTz2W6hO_FTbJlByRlEVhG1OCylr9RzC8p4Qu5a0ds_4UWkG_QTEhpLnFm-Ftx7dBx1G3pfM-_TjvazwNdXg/file# [following]
--2022-06-02 11:53:35--  https://ucd469ed37a5be4f1811ff498f34.dl.dropboxusercontent.com/cd/0/inline/BmbLi8-u25xVlVFSxEqWFxxlrCiYTlL4utFY8plYuzeOc9uzS1AL8tbkfC56CaujwwbFixgd8gYpWFMvgl5mvsjEuiuTz2W6hO_FTbJlByRlEVhG1OCylr9RzC8p4Qu5a0ds_4UWkG_QTEhpLnFm-Ftx7dBx1G3pfM-_TjvazwNdXg/file
Resolving ucd469ed37a5be4f1811ff498f34.dl.dropboxusercontent.com (ucd469ed37a5be4f1811ff498f34.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601d:15::a27d:50f
Connecting to ucd469ed37a5be4f1811ff498f34.dl.dropboxusercontent.com (ucd469ed37a5be4f1811ff498f34.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3037688 (2.9M) [text/plain]
Saving to: ‘test.csv’

test.csv            100%[===================>]   2.90M  --.-KB/s    in 0.1s

2022-06-02 11:53:35 (22.4 MB/s) - ‘test.csv’ saved [3037688/3037688]

<div dir='rtl'><font face="B Zar" size=6>
پیش پردازش اطلاعات
</font></div>

<div dir='rtl'><font face="B Zar" size=4>

بعد از دریافت فایل های csv، با استفاده از کتابخانه pandas، دادگان را در DataFrame قرار میدهیم. از آنجایی که در سطر های دادگان شاهد مقادیر غیرمجاز و یا مقادیر غیر عددی در ستون های عددی هستیم (NaN) باید سطر های غیرمجاز را حذف کنیم که با استفاده از فانکشن dropna میتوانیم این کار را انجام دهیم.
برخی از feature هایمان هم غیر عددی هستند که میتوانیم آنهارا به عددی تبدیل کنیم. برای مثال ویژگی های Gender، Customer Type و ... از این نوع ویژگی ها هستند که با استفاده از قابلیت های پیش پردازش که کتابخانه Scikit Learn در اختیارمان قرار داده است، میتوانیم آنهارا Numerical کنیم.
ابتدا لیستی از ویژگی های غیر عددی تهیه میکنیم و با استفاده از Scikit Learn Label Encoder آنها را transform میکنیم به مقادیر عددی. به این صورت که برای مثال برای مقادیر مشابه در یک ستون، یک عدد در نظر میگیرد.
راه حل دیگری هم که وجود دارد One Hot Encoding است. ولی در اینجا استفاده از LabelEncoder مقدار accuracy بیشتری نسبت به OneHotEncoding میدهد.
با اعمال LabelEncoding روی دادگان به نتایجی که در زیر مشاهده میکنید دست پیدا میکنیم:
</font></div>

In [ ]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

train_df.dropna(inplace=True)
test_df.dropna(inplace=True)

In [ ]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

non_numerical_columns = ['Gender', 'Customer Type', 'Type of Travel', 'Class', 'satisfaction']

for i in non_numerical_columns:
    label_encoder.fit(train_df[i])
    train_df[i] = label_encoder.transform(train_df[i])

    label_encoder.fit(test_df[i])
    test_df[i] = label_encoder.transform(test_df[i])

In [ ]:
train_df.head(5)

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,1,0,13,1,2,460,3,4,...,5,4,3,4,4,5,5,25,18.0,0
1,1,5047,1,1,25,0,0,235,3,2,...,1,1,5,3,1,4,1,1,6.0,0
2,2,110028,0,0,26,0,0,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,3,24026,0,0,25,0,0,562,2,5,...,2,2,5,3,1,4,2,11,9.0,0
4,4,119299,1,0,61,0,0,214,3,3,...,3,3,4,4,3,3,3,0,0.0,1

In [ ]:
test_df.head(5)

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,0,0,52,0,1,160,5,4,...,5,5,5,5,2,5,5,50,44.0,1
1,1,90035,0,0,36,0,0,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,1
2,2,12360,1,1,20,0,1,192,2,0,...,2,4,1,3,2,2,2,0,0.0,0
3,3,77959,1,0,44,0,0,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,1
4,4,36875,0,0,49,0,1,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,1

<font face="B Zar" size=4>
<div dir='rtl'>
در گام بعدی پیش پردازش، برای اینکه یادگیری بهتری داشته باشیم، باید پردازشی روی داده ها داشته باشیم که میتوانیم یا داده هارا به یک بازه Scale کنیم با میتوانیم آنهارا Standard کنیم به این معنی که فیچر های یک داده میانگینی تقریبا برابر با ۰ داشته باشند و واریانس آنها هم ۱ باشد.
</font></div>


<font face="B Zar" size=4>
<div dir='rtl'>
۳ داده برای train کردن با ۳ scaler متفاوت میسازیم تا بتوانیم عملکرد هر کدام را برای این داده ها مقایسه کنیم.
</font></div>

In [ ]:
y_train = train_df['satisfaction'].values
y_test = test_df['satisfaction'].values

X_train = train_df.iloc[:, 2:-1].values
X_test = test_df.iloc[:, 2:-1].values

In [ ]:
#Standardize
s_scaler = preprocessing.StandardScaler()
s_scaler.fit(X_train)
X_train_standard = s_scaler.transform(X_train)
X_test_standard = s_scaler.transform(X_test)

In [ ]:
#RobustScaler
robust_scaler = preprocessing.RobustScaler()
robust_scaler.fit(X_train)
X_train_robust = robust_scaler.transform(X_train)
X_test_robust = robust_scaler.transform(X_test)

In [ ]:
#MinMaxScaler
min_max_scaler = preprocessing.MinMaxScaler()
min_max_scaler.fit(X_train)
X_train_minmax = min_max_scaler.transform(X_train)
X_test_minmax = min_max_scaler.transform(X_test)

<div dir='rtl'><font face="B Mitra" size=6>
یادگیری با استفاده از پرسپترون
</font></div>

<div dir='rtl'><font face="B Mitra" size=4>
در این قسمت با استفاده از مدل موجود برای پرسپترون در کتابخانه Scikit Learn به یادگیری ۳ نوع داده ی متفاوت با scaling های متفاوت که در قسمت قبل آماده کردیم میپردازیم.
</font></div>

<div dir='rtl'><font face="B Mitra" size=4>
مشاهده میشود که در این قسمت داده هایی که با استفاده از Robust Scaler تهیه شده اند، Accuracy بهتری نسبت به روش های دیگر کسب کرده اند و دلیل این ممکن است بخاطر باشد که این روش از میانه استفاده میکند به جای میانگین و واریانس و در نتیجه برای داده های دور افتاده بهتر عمل میکند.
</font></div>

In [ ]:
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score

In [ ]:
#Perceptron with Standardized data
perceptron_model = Perceptron()
perceptron_model.fit(X_train_standard, y_train)

y_pred_standard = perceptron_model.predict(X_test_standard)
accuracy_score(y_test, y_pred_standard)

0.8270575058896227

In [ ]:
#Perceptron with Robust scaled data
perceptron_model = Perceptron()
perceptron_model.fit(X_train_robust, y_train)

y_pred_robust = perceptron_model.predict(X_test_robust)
accuracy_score(y_test, y_pred_robust)

0.8516973699455451

In [ ]:
#Perceptron with MinMax scaled data
perceptron_model = Perceptron()
perceptron_model.fit(X_train_minmax, y_train)

y_pred_minmax = perceptron_model.predict(X_test_minmax)
accuracy_score(y_test, y_pred_minmax)

0.8484532499131039

<div dir='rtl'><font face="B Mitra" size=6>
Kernelized Perceptron
</font></div>

<div dir='rtl'><font face="B Mitra" size=4>
در این بخش به پیاده سازی kernelized perceptron میپردازیم.
یک روش برای این کار استفاده از دوگان مسئله پرسپترون است به این صورت که مسئله را به این صورت نمایش دهیم:
میتوانیم وزن هارا به صورت زیر بنویسیم:
</font></div>

$$ w = \sum_{i}^{n}\alpha_i y_i x_i $$

<div dir='rtl'><font face="B Mitra" size=4>
حال اگر در معادله y_hat به جای وزن، عبارت بالا را قرار دهیم خواهیم داشت:
</font></div>

$$ \hat{y} = sign(w^Tx) $$
$$ = sign (\sum_{i}^{n}\alpha_i y_i x_i)^Tx$$
$$ = sign \sum_{i}^{n}\alpha_i y_i (x_i^Tx)$$

<div dir='rtl'><font face="B Mitra" size=4>
مشاهده میکنیم که کرنل خطی یا همان ضرب داخلی دو بردار در معادله شکل گرفته است. حال میتوانیم به جای این عبارت از کرنلی دیگر استفاده کنیم همانند RBF یا کرنل های polynomial.
</font></div>

<div dir='rtl'><font face="B Mitra" size=4>
اما مشکلی که این روش دارد این است که نیاز به فضای زیاد یا زمان زیاد برای یادگیری دارد.
اگر بخواهیم ماتریس کرنل یا gram matrix را در ابتدا یه صورت کامل درست کنیم نیاز به فضای زیادی داریم که رم زیادی نیاز دارد و عملا برای دادگان بزرگ عملی نیست و در روش دیگر اگر بخواهیم در زمان یادگیری پرسپترون سطر مورد نیاز را محاسبه کنیم و کل ماتریس را محاسبه نکنیم در اینجا به زمان زیادی برای محاسبات کرنل نیاز داریم (در پیاده سازی که انجام دادم در ابتدا هر iteration روی تمامی داده ها با استفاده از کرنل گاسین تقریبا ۱۶ ساعت طول میکشد و با استفاده از کرنل polynomial با d=3 تقریبا ۸ ساعت طول میشکد و با استفاده از کتابخانه numba هم این عدد به ۴ ساعت رسید) که خب پروسه یادگیری را بسیار طولانی میکند و عملا استفاده از این روش ها برای داده های بزرگ عملی نیست.
</font></div>

<div dir='rtl'><font face="B Mitra" size=4>
روش دیگری که میتوان استفاده کرد استفاده از Gram Matrix approximation است. این روش ها غالبا بر اساس low-rank decomposition هستند.
در این تمرین از روشی به نام Nystroem Method استفاده شده است که در ادامه به توضیح آن میپردازیم.
</font></div>

<div dir='rtl'><font face="B Mitra" size=6>
Nyström Method
</font></div>

<div dir='rtl'><font face="B Mitra" size=4>
در این روش سعی بر این است تا با استفاده از جمع وزن دار، برای یک انتگرال، numerical solution پیدا شود.
اگر $k(x, y)$ را تابع کوواریانس x و y در نظر بگیریم خواهیم داشت:
</font></div>
$$ k(x, y) = \sum_{i=1}^{N} \lambda_i 𝜙_i(x) 𝜙_i(y) $$
<div dir='rtl'><font face="B Mitra" size=4>
که لاندا ها نشاندهنده مقادیر ویژه و فی ها نشاندهنده تابع های ویژه هستند. خواهیم داشت:
</font></div>
$$ \int k(y, x) 𝜙_i(x) p(x)dx = λ_i 𝜙_i(y) $$
<div dir='rtl'><font face="B Mitra" size=4>
که در اینجا p(x) نشاندهنده probability density بردار x میباشد و میتوانیم انتگرال روی آنرا با میانگین تعویض کنیم. و با استفاده از nystroem method خواهیم داشت:
</font></div>
$$ \frac{1}{q} \sum_{k=1}^{q} k(y, x_k) 𝜙_i(x_k) ≈ \lambda_i 𝜙_i(y) $$
<div dir='rtl'><font face="B Mitra" size=4>
با استفاده از این تقریب میتوانیم مقدار تقریبی مقادیر ویژه و بردار های ویژه را به دست آوریم.
</font></div>

<div dir='rtl'><font face="B Mitra" size=6>
Gram Matrix approximation
</font></div>

<div dir='rtl'><font face="B Mitra" size=4>
فرض میکنیم که ماتریس کرنل rank m باشد که در نتیجه m مقدار ویژه غیر صفر خواهیم داشت و تجزیه مقادیر ویژه از آنجایی که اورتاگونال است را میتوانیم به صورت زیر بنویسیم:
</font></div>
$$ K=UΔU^T $$
<div dir='rtl'><font face="B Mitra" size=4>
که U ماتریسی n در m است و دلتا، ماتریسی قطری شامل مقادیر ویژه است. اگر ماتریس کرنل را به ۴ قسمت تقسیم کنیم خواهیم داشت:
</font></div>
$$ K = \begin{bmatrix} K_{11}&K_{21}^T \\ K_{21}&K_{22} \end{bmatrix}$$
$$ \\ $$
where $K_{11}$ is $m × m$, $K_{21}$ is $(n-m) × m$ and $K_{22}$ is $n × n$
<div dir='rtl'><font face="B Mitra" size=4>
حال اگر تجزیه مقادیر ویژه با استفاده از این تقسیم بندی را در نظر بگیریم خواهیم داشت:
</font></div>
$$ K = \begin{bmatrix} U_1 \\ U_2 \end{bmatrix} Δ \begin{bmatrix} U_1 \\ U_2 \end{bmatrix}^T$$
$$  $$
$$ = \begin{bmatrix} U_1ΔU_1^T & U_1ΔU_2^T \\ U_2ΔU_1^T & U_2ΔU_2^T\end{bmatrix}$$
$$  $$
$$⇒ K_{21} = U_2 \Delta U_1^T ⇒ U_2 = K_{21}U_1Δ^{-1}$$
$$  $$
$$ K_{22} = U_2ΔU_2^T \\ = (K_{21}U_1Δ^{-1})\Delta(K_{21}U_1Δ^{-1})^T \\ = K_{21} K_{11}^{-1} K_{21}^T = (K_{21}K_{11}^{-\frac{1}{2}})(K_{21}K_{11}^{-\frac{1}{2}})^T$$
$$ $$

<div dir='rtl'><font face="B Mitra" size=4>
با استفاده از نتیجه به دست آمده برای $K_{22}$ میتوان به feature space جدیدی رسید که اگر آنرا در ترانهاده اش ضرب کنیم به ماتریس کرنل اصلی میرسیم.
</font></div>

$$ 𝚽 = \begin{bmatrix} K_{11}^{\frac{1}{2}} \\ K_{21}K_{11}^{-\frac{1}{2}}\end{bmatrix}$$
$$ $$
$$ 𝚽𝚽^T = \begin{bmatrix} K_{11}^{\frac{1}{2}} \\ K_{21}K_{11}^{-\frac{1}{2}}\end{bmatrix}\begin{bmatrix} K_{11}^{\frac{1}{2}} \\ K_{21}K_{11}^{-\frac{1}{2}}\end{bmatrix}^T$$
$$ $$
$$ = \begin{bmatrix} K_{11} & K_{21}^T \\ K_{21} & K_{21}K_{11}^{-1}K_{21}^T\end{bmatrix} = K$$

<div dir='rtl'><font face="B Mitra" size=4>
میتوان این متد را برای کرنل rbf پیاده سازی کرد که در کتابخانه SciKit Learn این کار انجام شده است و برای این تمرین از آن استفاده میکنیم. چیزی که به ما برمیگرداند درواقع همان $𝚽$ است که در بالا محاسبه کردیم.
مشاهده میشود که برای داده های استاندارد شده به نتیجه تقریبی ۹۵ درصد رسیدیم که نسبتا نتیجه قابل قبولی است. اگر پارامتر های گاما و تعداد کامپوننت ها یا همان m را هم دست کاری کنیم ممکن است به نتایج بهتری هم دست پیدا کنیم.
</font></div>

In [ ]:
from sklearn.kernel_approximation import Nystroem

feature_map_nystroem = Nystroem(kernel='rbf', gamma=0.025, random_state=1, n_components=3200)
kernel_perceptron_model = Perceptron(max_iter=5000)

In [ ]:
#Kernel Perceptron Using Nystroem and Standardized data

X_train_approx = feature_map_nystroem.fit_transform(X_train_standard)
X_test_approx = feature_map_nystroem.transform(X_test_standard)

kernel_perceptron_model.fit(X_train_approx, y_train)

y_kernel_pred = kernel_perceptron_model.predict(X_test_approx)

accuracy_score(y_kernel_pred, y_test)

0.9482099409106708

In [ ]:
#Kernel Perceptron Using Nystroem and Robust data

X_train_approx = feature_map_nystroem.fit_transform(X_train_robust)
X_test_approx = feature_map_nystroem.transform(X_test_robust)

kernel_perceptron_model.fit(X_train_approx, y_train)

y_kernel_pred = kernel_perceptron_model.predict(X_test_approx)

accuracy_score(y_kernel_pred, y_test)

0.8828254740663499

In [ ]:
#Kernel Perceptron Using Nystroem and MinMax data

X_train_approx = feature_map_nystroem.fit_transform(X_train_minmax)
X_test_approx = feature_map_nystroem.transform(X_test_minmax)

kernel_perceptron_model.fit(X_train_approx, y_train)

y_kernel_pred = kernel_perceptron_model.predict(X_test_approx)

accuracy_score(y_kernel_pred, y_test)

0.9100915305294868

In [ ]:
!jupyter nbconvert --to html svm_perceptron\(2\).ipynb

[NbConvertApp] Converting notebook svm_perceptron(2).ipynb to html
[NbConvertApp] Writing 322337 bytes to svm_perceptron(2).html